*.code-workspace
*.json
*.aux
*.bbl
*.blg
*.log
*.gz
datafiles/
build/
master-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.idx
*.ilg
*.ind
*.maf
*.mtc*
*-blx.bib
*.DS_Store
*-checkpoint.ipynb
.ipynb_checkpoints/